@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-color: hsl(259, 100%, 65%);
    --light-red-color: hsl(0, 100%, 67%);

    --white-color: hsl(0, 0%, 100%);
    --off-white-color: hsl(0, 0%, 94%);
    --light-grey-color: hsl(0, 0%, 86%);
    --smokey-grey-color: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);

    --input-font-size: 32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

body {

    font-family: "Poppins";
    font-weight: normal;
    background-color: var(--off-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#root {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.calculator-component {
    background-color: var(--white-color);
    padding: 40px 25px;
    margin: 0 20px;
    min-width: 320px;
    max-width: 800px;
    border-radius: 20px;
    border-bottom-right-radius: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-shadow: 0 0 20px var(--light-grey-color);
}

.results-component {
    font-weight: 800;
    font-style: italic;
    font-size: 3rem;
    line-height: 3rem;
}

.results-component p span {
    color: var(--purple-color);
}

form {
    position: relative;
}

.form-component fieldset {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-width: 400px;
    gap: 15px;
    border: 0;
    outline: 0;
}

.form-component .input {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.form-component input {
    font-family: inherit;
    font-size: 1.5rem;
    width: 100%;
    padding: 8px 15px;
    border: 1px solid var(--light-grey-color);
    border-radius: 8px;
}

.invalid-input.input label,
.invalid-input {
    color: var(--light-red-color);
}

.invalid-input input {
    border: 1px solid var(--light-red-color);
}

.error-message {
    font-weight: 400;
    font-style: italic;
    font-size: .6rem;
    color: var(--light-red-color);
}

fieldset .error-message {
    margin-top: 5px;
}

.form-component input:focus {
    outline: 0;
    border: 1px solid var(--smokey-grey-color);
}

.form-component label {
    color: var(--smokey-grey-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.submit-button {
    cursor: pointer;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    width: 70px;
    border-radius: 180px;
    border: none;
    background: var(--purple-color);
    transition: ease .3s background;
}

.submit-button:hover {
    background: var(--off-black);
}

.submit-button img {
    width: 40%;
    height: auto;
}

hr {
    
   background-color: var(--light-grey-color); 
   height: 1px;
   border: 0;
   margin: 75px 0 70px 0;
}

footer p {
    font-size: 1.3rem;    
}

footer a {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 700px) {
    .calculator-component {
        width: 700px;
        padding-left: 50px;
        padding-right: 50px;
        border-bottom-right-radius: 200px;
    }

    .results-component {
        font-size: 5rem;
        line-height: 5rem;
    }

    .form-component fieldset {
        width: 500px;
        max-width: 500px;
        gap: 20px;
    }

    .submit-button {
        left: initial;
        right: -50px;
        width: 85px;
        height: 85px;
    }

    .error-message {
        font-size: .8rem;
    }
}
